main{
  .background_home{
      width: 100%;
      height: 80vh;
      object-fit: cover;
  }
  .overlay{
      background: #4F5563; 
      width: 100%;
      height: 80vh;
      position: absolute;
      opacity: 0.6;
  }
  .container__banniere{
      position: absolute;
      top: 175px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 620px;
      h1{
          text-align: center;
          text-transform: uppercase;
          font-family: sans-serif;
          font-size: calc(0.4rem + 0.9vw);
          color: #87CEEB;
          background: #fff;
          padding: 8px 0;
          border-radius: 8px;
          position: relative;
          top: 80px;
      }
      p{
          position: relative;
          top: 100px;
          font-size: calc(0.6rem + 1.5vw);
          text-transform: uppercase;
          text-align: left;
          font-family: 'Padauk';
          font-weight: 700;
          color: #fff;
      }
  }
  .souslochome{
    h2{
      text-align: center;
      font-family: sans-serif;
      text-transform: uppercase;
      font-size: calc(15px + 1vw);
      margin-top: 30px;
      margin-bottom: 40px;
      span{
        color: #87CEEB;
        text-decoration: underline solid 3px #87CEEB;
      }
    }
    p{
      margin: 0 auto;
      text-align: center;
      font-size: calc(11.6px + 1vw);
      max-width: 750px;
      width: 90%;
      font-family: sans-serif;
      border: 3px solid #1E3A5F;
      border-radius: 10px;
      padding: 10px 0;
      transform: rotate(3deg);
    }
  }
  .container_b{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    background: #F4F4FA;
    margin-top: 75px;
    padding-bottom: 75px;
    height: auto;
    h2{
      text-align: center;
      text-transform: uppercase;
      font-family: sans-serif;
      font-weight: 700;
      font-size: calc(15px + 1vw);
      padding: 55px 0;
      span{
        color: #87CEEB;
      }
    }
    .container_bulles{
      width: 92%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;
      gap: 80px;
      .bulles{
        background: #fff;
        margin: auto;
        width: 345px;
        height: 385px;
        border-radius: 80px;
        border-top-left-radius: 0;
        overflow: hidden;
        flex-shrink: 0;
        box-shadow: 0px 0px 10px 0px #000;
        h2{
          font-family: 'Padauk', sans-serif;
          padding: 25px 0;
          margin-bottom: -20px;
        }
        p{
          font-size: 17px;
          padding: 0 40px;
          font-family: 'OpenSans', sans-serif;
          margin: 2px 0;
        }
    }
  }
}
.stage{
  h2{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size: calc(15px + 1vw);
    padding: 55px 0;
    span{
      color: #87CEEB;
    }
  }
  .container_stage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    article{
      width: 90%;
      max-width: 700px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 70px;
      margin-top: 70px;
      figure{
        i{
          font-size: 45px;
          margin-bottom: 15px;
          display: flex;
          justify-content: center;
          color: #87CEEB;
        }
        figcaption{
          display: flex;
          flex-direction: column;
          align-items: center;
          h3{
            text-transform: uppercase;
            font-family: "Padauk";
            font-size: 27px;
            text-align: center;
          }
          p{
            font-size: 18px;
            text-align: center;
            width: 90%;
          }
        } 
      }
    }
  }
}
.location{
  display: flex;
  flex-direction: column;
  h2{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size: calc(15px + 1vw);
    padding: 55px 0;
    span{
      color: #87CEEB;
    }
  }
  .container_cards{
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    article{
      width: 385px;
      height: 600px;
      background: #1e3a5f;
      box-shadow: 0px 0.4px 12px 1px #000;
      border-radius: 20px;
      position: relative;
      figure{
        width: 100%;
        img{
          width: 100%;
          height: 310px;
          object-fit: cover;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom: #87CEEB 2px solid;
        }
        figcaption{
          // margin-top: 45p;
          height: auto;
          h3{
            font-size: 25px;
            font-family: 'Padauk';
            text-align: center;
            color: #fff;
          }
          p{
            padding: 10px 15px;
            height: 150px;
            margin-top: 15px;
            font-family: sans-serif;
            color: #fff;
          }
          span{
            font-family: 'Padauk';
            font-size: 15.5px;
            display: flex;
            justify-content: center;
            color: #fff;
            background: #87CEEB;
            width: 20%;
            margin: auto;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
}
hr{
  position: relative;
  width: 70px;
  height: 5px;
  border: none;
  background: #1E3A5F;
  margin: auto;
  top: -30px;
}
@media (max-width: 1874px){
  main{
    .location{
      .container_cards{
        article{
          width: 475px;
        }
      }
    }
  }
}
@media (max-width: 1390px){
  main{
    .location{
      .container_cards{
        article{
          width: 550px;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  main{
    .container__banniere{
      width: 80%;
      h1{
        font-size: calc(0.7rem + 1vw);
      }
      p{
        font-size: calc(1.2rem + 1.5vw);
      }
    }
  }
}
@media (max-width: 1110px) {
  main{
    .container_stage{
      display: flex;
      flex-direction: column;
      width: 100%;
      article{
        width: 100%;
      }
    }
  }
}