main{
  .background_home{
      width: 100%;
      height: 80vh;
      object-fit: cover;
      margin-bottom: 100px;
  }
  .overlay{
      background: #4F5563; 
      width: 100%;
      height: 80vh;
      position: absolute;
      opacity: 0.4;
  }
  .container__banniere{
      position: absolute;
      top: 175px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 620px;
      h1{
          text-align: center;
          text-transform: uppercase;
          font-family: sans-serif;
          font-size: calc(0.4rem + 0.9vw);
          color: #87CEEB;
          background: #fff;
          padding: 8px 0;
          border-radius: 8px;
          position: relative;
          top: 80px;
      }
      p{
          position: relative;
          top: 100px;
          font-size: calc(0.6rem + 1.5vw);
          text-transform: uppercase;
          text-align: left;
          font-family: 'Padauk';
          font-weight: 700;
          color: #fff;
      }
  }
.container_services{
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    position: relative;
    .title{
      text-transform: uppercase;
      position: relative;
      text-align: center;
      &::after{
        content: "";
        position: absolute;
        background: #87CEEB;
        border-radius: 5px;
        width: 180px;
        height: 20px;
        right: 100px;
        bottom: -5px;
        z-index: -1;
      }
    }
  .service {
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    position: relative;
    #PP{
      position: absolute;
      top: 7px;
      right: 10px;
      width: 80px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #87CEEB;
      color: #0A1929;
      border-radius: 10px 10px 10px 10px;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
  
  .service:hover {
    transform: translateY(-5px);
  }
  
  .service img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .service-info {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
  }
  
  .service h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
  .method {
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    h2 {
      color: #555;
      padding: 18px 0;
    }
    
    p {
      color: #777;
      line-height: 1.6;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
  #H{
    text-transform: uppercase;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background: #87CEEB;
      border-radius: 5px;
      width: 180px;
      height: 20px;
      right: 34%;
      bottom: -5px;
      z-index: -1;
    }
  }
}
.container-about {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.about {
  padding: 80px 0;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.about p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about p:last-child {
  margin-bottom: 0;
}

}
hr{
  position: relative;
  width: 70px;
  height: 5px;
  border: none;
  background: #1E3A5F;
  margin: auto;
  top: -30px;
}
@media (max-width: 1874px){
  main{
    .location{
      .container_cards{
        article{
          width: 475px;
        }
      }
    }
  }
}
@media (max-width: 1390px){
  main{
    .location{
      .container_cards{
        article{
          width: 550px;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  main{
    .container__banniere{
      width: 80%;
      h1{
        font-size: calc(0.7rem + 1vw);
      }
      p{
        font-size: calc(1.2rem + 1.5vw);
      }
    }
  }
}
@media (max-width: 1110px) {
  main{
    .container_stage{
      display: flex;
      flex-direction: column;
      width: 100%;
      article{
        width: 100%;
      }
    }
  }
}